body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

table img {
	width: 50%;
}

div#img img{
	height: 100%;
	width: 100%;
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
}

div.greaterDiv {
	display: flex;
	margin: 15px;
	width: 29%;
	background-color: #ecf6d9;
	display: inline-block;
	border-radius: 5%;
}

div div#name {
	text-align: left;
	font-size: 1.2em;
	height: 35px;
	padding: 5px;
}

div.starImage img{
	display: inline;
	float: left;
	padding: 10px;
	width: 25%;
	height: 20%;
}

div#stars {
	display: inline;
	padding: 20px;
}
div.starText {
	display: inline;
	float: right;
	padding: 10px;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
}